@use '@/styles/queries.scss' as *;

.posts {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.post {
  display: flex;
  column-gap: var(--rem-b-1);
  align-items: baseline;

  &_date {
    color: var(--color-gray-5);
    font-weight: 400;
    font-family: var(--font-family-monospace);
    font-size: var(--rem-b--1);
    width: 100px;
    flex-shrink: 0;
  }

  &_title {
    font-size: 1rem;
    font-weight: 500;
  }
}

@include small-screens {
  .posts {
    row-gap: var(--rem-2);
  }

  .post {
    display: flex;
    flex-direction: column-reverse;
    row-gap: var(--rem--5);

    &_title {
      font-size: 1rem;
    }

    &_date {
      font-size: 14px;
      width: 90px;
    }
  }
}
