.posts {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.post {
  display: flex;
  column-gap: calc(var(--size-base-2) * var(--scale-3));

  &_date {
    width: calc(1rem * var(--scale-8));
    color: var(--color-gray-5);
  }

  &_title {
    font-size: var(--size-base-2);
    font-weight: 400;
  }
}
