.content_grid {
  display: grid;
  width: 100%;
  max-width: var(--content-width);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: 0px var(--grid-gutter);
}

.grid_content {
  grid-column: 2 / span 10;
}

// Grid span
@for $i from 1 through 12 {
  .grid_span_#{$i} {
    grid-column: span #{$i};
  }
}

// Grid start
@for $i from 1 through 12 {
  .grid_start_#{$i} {
    grid-column-start: #{$i};
  }
}

// Grid end
@for $i from 1 through 12 {
  .grid_end_#{$i} {
    grid-column-end: #{$i};
  }
}
