@use '@/styles/queries.scss' as *;

.subscribe {
  --input-border-color: var(--color-gray-6);
  --input-background: var(--color-gray-9);
  --input-text-color: var(--text-color);

  display: flex;
  column-gap: var(--size-base-2);
}

.inputWrapper {
  display: flex;
  border: 1px solid var(--input-border-color);
  background: var(--input-background);
  border-radius: 4px;
}

.inputWrapper .button {
  border: none;
  flex-grow: 0;
  border-left: 1px solid var(--input-border-color);
  border-radius: 0 3px 3px 0;
}

.inputWrapper .input {
  border: none;
  flex-grow: 1;
  background: transparent;
  padding: 7px var(--size-base-2);
  width: 256px;
  border-radius: 3px;
  color: var(--input-text-color);

  &:focus {
    outline: none;
    background: white;
  }
}

.button {
  color: var(--input-text-color);
  display: flex;
  align-items: baseline;
  justify-content: center;
  column-gap: 7px;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  background: var(--input-background);
  padding: 7px var(--size-base-2) 5px;
  cursor: pointer;
}

.button svg path {
  fill: var(--input-text-color);
}

.button:hover {
  color: var(--color-red-5);
  > svg path {
    fill: var(--color-red-5);
  }
}

.status {
  padding-top: 7px;
  color: var(--color-gray-4);

  &_positive {
    color: var(--text-color);
  }

  &_negative {
    color: var(--color-red-4);
  }
}

@include dark-mode {
  .subscribe {
    --input-border-color: var(--color-gray-3);
    --input-background: var(--color-gray-1);
    --input-text-color: var(--color-gray-8);
  }

  .inputWrapper .input {
    &::placeholder {
      color: var(--color-gray-5);
    }

    &:focus {
      background: var(--color-gray-1);
    }
  }

  .inputWrapper:hover {
    border-color: var(--color-gray-4);
  }

  .button:hover {
    color: var(--color-green-6);
    border-color: var(--color-gray-4);

    > svg path {
      fill: var(--color-green-6);
    }
  }
}

@include small-screens {
  .subscribe {
    flex-direction: column;
    align-items: start;
    row-gap: var(--size-base-2);
  }
}
