@use '@/styles/grid.scss';
@use '@/styles/queries.scss' as *;

.home {
  @extend .content_grid;
  --section-margin: calc(1rem * var(--scale-4));

  margin: 0 auto;
  // display: flex;
  flex-direction: column;
  row-gap: var(--section-margin);
}

.section {
  @extend .grid_content;
  display: flex;
  flex-direction: column;
  row-gap: calc(1rem * var(--scale-1));

  &_title {
    font-family: var(--font-family-monospace);
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-gray-6);
  }

  & + .section {
    padding-top: var(--section-margin);
    border-top: 1px solid var(--color-gray-8);
  }
}

.latestPost {
  &_title {
    font-size: calc(1rem * var(--scale-2));
    font-weight: 700;
  }

  &_blurb {
    font-size: var(--size-base-2);
    color: var(--color-gray-4);
    margin: calc(1rem * var(--scale--2)) 0 0;
  }
}

@include dark-mode {
  .section {
    &_title {
      color: var(--color-gray-6);
    }

    & + .section {
      border-top-color: var(--color-gray-2);
    }
  }

  .latestPost {
    &_blurb {
      color: var(--color-gray-6);
    }
  }
}
