@use '@/styles/queries.scss' as *;
@use '@/styles/grid.scss';

.post {
  --content-margin: var(--rem-3);
  --content-line-height: var(--line-height-reading);
  --content-font-size: var(--rem-1);
  --content-margin-reset: calc(0rem - var(--content-margin));
  --section-gap: var(--rem-5);

  display: flex;
  flex-direction: column;
  row-gap: var(--section-gap);

  p {
    margin: 0;
  }
}

.header {
  display: grid;
  row-gap: 1rem;
  grid-template:
    'meta' auto
    'title' auto / 1fr;
}

.title {
  grid-area: title;
  font-size: var(--rem-4);
  font-weight: 700;
}

.meta {
  font-family: var(--font-family-monospace);
  grid-area: meta;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: var(--rem--1);

  &_item {
    color: var(--color-gray-5);
  }

  &_item:not(:first-child)::before {
    display: inline-block;
    content: '•';
    color: var(--color-gray-7);
    margin-right: var(--rem--1);
  }
}

.blurb {
  font-size: var(--content-font-size);
  line-height: var(--content-line-height);
  color: var(--color-gray-5);
}

.cover {
  width: 100%;
  background: var(--url) no-repeat center / cover;
  border-radius: 3px;

  &::after {
    content: '';
    display: block;
    // padding-bottom: 32.892%;
    padding-bottom: 51.254%;
  }
}

.footer {
  padding-bottom: calc(2 * var(--section-gap));
}

.body {
  > *:first-child {
    margin-top: 0;
  }

  a {
    text-decoration: underline;
    text-decoration-color: var(--color-gray-7);
    text-decoration-thickness: 2px;

    &:hover {
      text-decoration-color: var(--color-red-5);
      color: var(--color-red-5);
    }
  }

  strong {
    font-weight: 600;
  }

  // Content margins
  > p,
  > img,
  > div,
  > figure,
  > pre,
  > table {
    margin: var(--content-margin) 0;
  }

  p {
    line-height: var(--content-line-height);
    font-size: var(--content-font-size);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: var(--rem-3);
    margin-bottom: var(--content-margin);
    font-weight: 700;
  }
  h1 {
    font-size: var(--rem-3);
  }
  h2 {
    font-size: var(--rem-2);
  }
  h3,
  h4 {
    font-size: var(--rem-1);
    margin-bottom: calc(var(--content-margin-reset) + (var(--rem--1)));
  }
  h5 {
    font-size: var(--content-font-size);
    margin-bottom: calc(var(--content-margin-reset) + (var(--rem--1)));
    font-weight: 600;
  }

  img {
    display: block;
    width: 100%;
  }

  blockquote {
    border-left: 3px solid var(--color-blue-5);
    margin: var(--content-margin) 0;
    padding: var(--rem-2);
    padding-left: var(--rem-3);
    background: var(--color-gray-9);

    p {
      margin: 0;
    }

    p + p {
      margin-top: var(--content-margin);
    }
  }

  ul,
  ol {
    margin-top: var(--content-margin);
    margin-bottom: var(--content-margin);
    padding-left: var(--content-margin);
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul > li,
  ol > li {
    font-size: var(--content-font-size);
    line-height: var(--content-line-height);
    padding-left: var(--rem--2);

    & + li {
      margin-top: var(--rem--4);
    }
  }

  li > p {
    margin: 0;
  }

  li > ul,
  li > ol {
    margin-top: var(--rem--4);
    margin-bottom: var(--rem--4);
  }

  hr {
    margin: var(--content-margin) 0;
    border: none;
    border-top: 2px solid var(--text-color);
    opacity: 0.5;
  }
}

@include dark-mode {
  .meta_item {
    color: var(--color-gray-7);
    &:not(:first-child)::before {
      color: var(--color-gray-4);
    }
  }

  .blurb {
    color: var(--color-gray-7);
  }

  .body {
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: var(--color-gray-8);
    }

    a {
      text-decoration-color: var(--color-gray-5);

      &:hover {
        color: var(--color-green-6);
        text-decoration-color: var(--color-green-6);
      }
    }

    blockquote {
      background: #07180f;
      border-color: var(--color-green-5);
    }
  }
}

@include small-screens {
  .post {
    --content-font-size: var(--size-base-2);
  }

  .meta {
    font-size: 14px;
  }

  .title {
    font-size: var(--rem-3);
  }
}
