@use '../../styles/grid.scss';

.masthead {
  @extend .grid_content;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--content-width);
  width: 100%;
  padding: 49px 0 89px;
  font-size: var(--size-base-2);
}

.jason_logo {
  font-weight: 500;
  font-size: var(--size-base-2);
}

.nav_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 40px;
}

.nav_link {
}

.nav_svg path {
  fill: var(--text-color);
}

.page {
  @extend .content_grid;
  margin: 0 auto;
}
