@use '@/styles/queries.scss' as *;
@use '@/styles/grid.scss';

.masthead {
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: calc(1rem * var(--scale-2)) calc(var(--size-base-2) * var(--scale-4));
  font-size: var(--size-base-2);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.jason_logo {
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--font-family-monospace);
}

.nav_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 40px;
}

.nav_link {
  font-weight: 500;
}

.nav_svg path {
  fill: var(--text-color);
}

.page {
  position: relative;
}

.content {
  padding-top: calc(1rem * var(--scale-10));
}

@include dark-mode {
  .masthead {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
  }

  .jason_logo a {
    color: var(--color-gray-8);
  }
}

@include small-screens {
  .content {
    padding-top: calc(1rem * var(--scale-9));
  }
}
