@use '@/styles/queries.scss' as *;
@use '@/styles/grid.scss';

.masthead {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: var(--rem-2) var(--rem-b-4);
  font-size: var(--rem-b-0);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.jason_logo {
  font-weight: 600;
  font-size: var(--rem-b-0);
  font-family: var(--font-family-monospace);
}

.page {
  position: relative;
}

.content {
  padding-top: var(--rem-10);
  padding-bottom: var(--rem-5);
}

@include dark-mode {
  .masthead {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .jason_logo a {
    color: var(--color-gray-8);
  }
}

@include small-screens {
  .masthead {
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
  }

  .content {
    padding-top: var(--rem-9);
  }
}
